.thumbnail{
    height: 185px;
}

.title{
    
   width: 260px;
    font-weight: 500;
    font-size: 14px;
    font-family: roboto,arial;
}

.video{
    height: 185px;
    width: 320px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    margin-bottom: 145px;
    z-index: 5;
}

.prof-pic{
    display: inline-block;
    height: 40px;
    vertical-align: top;
    
}

.pof{
    border-radius: 200px;
    height: 35px;
    margin-top: 10px;
}

.topic{
    margin-left: 5px;
     
    height: 10px;
    display: inline-block;
}

.author{
    font-size: 12px;
    font-family: roboto,arial;
    color: grey;
    margin-bottom: 0px;
    margin-top: -5px;
}

.stats{
    font-family: roboto,arial;
    font-size: 12px;
    color: grey;
    margin-top: 5px;
}

.timing{
    position:relative;
}
   
.time{
    background-color: black;
    color: white ;
    position: absolute;
    bottom: 8px;
    right: 5px;
    display: inline-block;
}
