.sidebar{
    display: flex;
    flex-direction: column;
    width: 72px;
    align-items: center;

    position: fixed ;
    top: 55px;
    left: 0;
    bottom: 0;

    background-color: white;
    border-right-width: 1px ;
    padding-top: 16px;
}



.s-link{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 72px;
    margin-bottom: 5px;
    margin-top: -4px;
    justify-content: center;
    cursor: pointer;
}

.s-link:hover{
    background-color: rgb(235, 235,235);
}

.s-link img{
    height: 24px;
    
}

.s-link p{
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
    font-family: roboto,arial;
}
